{% extends 'base.html' %}



{% block content %}

{% load static %}
<head>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">  
</head>


<h1><a href="{% url 'create_course' %}">Template home page</a></h1>
<table>
    <tr>
        <th>
            Course
        </th>
        <th>
            Details
        </th>
        <th>
            Publish Date
        </th>
    </tr>
{% for course in courses %}
    <tr>
        <td>
            {{course.course_title}}
        </td>
        <td>
            {{course.course_details}}
        </td>
        <td>
            {{course.course_pub_date}}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}