{% extends 'base.html' %}



{% block content %}

{% load static %}
<head>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">  
</head>


<h1>Available Courses</h1>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Course
        </th>
        <th>
            Details
        </th>
        <th>
            Publish Date
        </th>
        <th>
            <form action="{% url 'create_course' %}">
                <input type="submit" value="Create Course" />
            </form>
        </th>
    </tr>
{% for course in courses %}
    <tr>
        <td>
            {{course.id}}
        </td>
        <td>
            {{course.course_title}}
        </td>
        <td>
            {{course.course_details}}
        </td>
        <td>
            {{course.course_pub_date}}                                
        </td>
        <td>
            <form action="{% url 'delete_course' course.id %}">
                <input type="submit" value="Delete " />
            </form>
        </td>
        <td>
            <form action="{% url 'update_course' course.id %}">
                <input type="submit" value="Update" />
            </form>
        </td>
      
    </tr>
{% endfor %}
</table>

{% endblock %}